.swiper-button-prev,
.swiper-button-next {
  background-color: #ffffff;
  color: rgba(157, 254, 0, 1);
  width: 50px;
  height: 50px;
  border-radius: 999px;
  padding: 17px;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 20px;
  border: 1px solid transparent;
  border-radius: 50%;
}
@media (max-width: 576px) {
  .swiper-button-prev,
  .swiper-button-next {
    width: 20px;
    height: 20px;
    padding: 3px;
  }

  .swiper-button-next::after,
  .swiper-button-prev::after {
    font-size: 10px;
  }
}
.cast__carousel {
  padding: 16px 16px 0px;
  border: 1px solid transparent;
  border-image: linear-gradient(
      -45deg,
      rgba(132, 247, 41, 0.7),
      rgba(21, 191, 253, 0.7)
    )
    1;
  clip-path: polygon(
    20% 0%,
    80% 0%,
    100% 0,
    100% 83%,
    73% 100%,
    20% 100%,
    0 100%,
    0 0
  );
  border-radius: 7.56px;
  height: 296px;
  width: 290px;
  background-color: rgba(255, 255, 255, 0.05);
}
.common__carousel {
  color: #ffffff;
  clip-path: polygon(
    20% 0%,
    80% 0%,
    100% 0,
    100% 56%,
    87% 100%,
    20% 100%,
    0 100%,
    0 0
  );
  border-radius: 10px;
  border: 1px solid transparent;
  border-image: linear-gradient(
      45deg,
      rgba(132, 247, 41, 0.7),
      rgba(21, 191, 253, 0.7)
    )
    1;
  background-color: rgba(255, 255, 255, 0.05);
}
