.swiper-button-prev,
.swiper-button-next {
  background-color: #ffffff;
  color: rgba(157, 254, 0, 1);
  width: 50px;
  height: 50px;
  border-radius: 999px;
  padding: 17px;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 20px;
  border: 1px solid transparent;
  border-radius: 50%;
}
.cast__carousel {
  padding: 16px 16px 0px;
  border: 1px solid rgba(132, 247, 41, 0.7);
  border-radius: 7.56px 7.56px 37% 7.56px / 7.56px 7.56px 36% 7.56px;
  height: 296px;
  width: 290px;
  background-color: rgba(255, 255, 255, 0.05);
}
.carousel__img {
  height: 216px;
  width: 258px;
  border-radius: 3.78px;
}
.cast__carousel h3 {
  color: #ffffff;
  font-size: 16px;
  line-height: 0.9;
  margin-top: 24px;
}
.common__carousel {
  padding: 21px 24px 20px;
  height: 96px;
  width: 360px;
  color: #ffffff;
  border: 1px solid rgba(132, 247, 41, 0.7);
  border-radius: 7.56px 7.56px 50% 7.56px / 7.56px 7.56px 50% 7.56px;
  background-color: rgba(255, 255, 255, 0.05);
}
.common__carousel h4 {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
}
.common__carousel h3 {
  font-size: 24px;
  line-height: 1.2;
  margin-top: 4px;
}
