.casts__bg {
  /* position: relative; */
  background: rgba(25, 29, 41, 1) url("../../assets/Cast/cast_background.png");
  /* height: 1511px; */
  /* background-repeat: no-repeat; */
}
.cast__page-title {
  color: rgba(20, 217, 229, 1);
  font-size: 64px;
  line-height: 1.2;
}
.cast__card {
  /* padding: 16px 16px 0px; */
  border: 1px solid rgba(132, 247, 41, 0.7);
  border-radius: 7.56px 7.56px 30% 7.56px / 7.56px 7.56px 30% 7.56px;
  /* height: 296px;
  width: 290px; */
  background-color: rgba(255, 255, 255, 0.05);
}
.cast__card h3 {
  color: #ffffff;
  /* font-size: 16px; */
  line-height: 0.9;
  /* margin-top: 24px; */
}
