@font-face {
    font-family: 'TT Travels';
    src: local('TT Travels Extra Bold'), local('TT-Travels-Extra-Bold'),
        url('TTTravels-ExtraBold.woff2') format('woff2'),
        url('TTTravels-ExtraBold.woff') format('woff'),
        url('TTTravels-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
  }