@font-face {
    font-family: 'TT Travels';
    src: local('TT Travels Bold Italic'), local('TT-Travels-Bold-Italic'),
        url('TTTravels-BoldItalic.woff2') format('woff2'),
        url('TTTravels-BoldItalic.woff') format('woff'),
        url('TTTravels-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
  }