@font-face {
  font-family: "TT Travels";
  src: local("TT Travels Bold Italic"), local("TT-Travels-Bold-Italic"),
    url("./font_italic/TTTravels-BoldItalic.woff2") format("woff2"),
    url("./font_italic/TTTravels-BoldItalic.woff") format("woff"),
    url("./font_italic/TTTravels-BoldItalic.ttf") format("truetype");
}
@font-face {
  font-family: "TT Travels";
  src: local("TT Travels Extra Bold"), local("TT-Travels-Extra-Bold"),
    url("./extra_bold/TTTravels-ExtraBold.woff2") format("woff2"),
    url("./extra_bold//TTTravels-ExtraBold.woff") format("woff"),
    url("./extra_bold//TTTravels-ExtraBold.ttf") format("truetype");
}
@font-face {
  font-family: "TT Travels";
  src: local("TT Travels Demi Bold"), local("TT-Travels-Demi-Bold"),
    url("./demibold/TTTravels-DemiBold.woff2") format("woff2"),
    url("./demibold/TTTravels-DemiBold.woff") format("woff"),
    url("./demibold/TTTravels-DemiBold.ttf") format("truetype");
}

.home__bg {
  position: relative;
  background: rgba(25, 29, 41, 1)
    url("../../../assets/Home_page/home_background.png");
  background-repeat: no-repeat;
}
.view__btn {
  border: 1px solid rgba(157, 254, 0, 1);
}
