@font-face {
  font-family: "TT Travels";
  src: local("TT Travels Bold Italic"), local("TT-Travels-Bold-Italic"),
    url("./font_italic/TTTravels-BoldItalic.woff2") format("woff2"),
    url("./font_italic/TTTravels-BoldItalic.woff") format("woff"),
    url("./font_italic/TTTravels-BoldItalic.ttf") format("truetype");
}
@font-face {
  font-family: "TT Travels";
  src: local("TT Travels Extra Bold"), local("TT-Travels-Extra-Bold"),
    url("./extra_bold/TTTravels-ExtraBold.woff2") format("woff2"),
    url("./extra_bold//TTTravels-ExtraBold.woff") format("woff"),
    url("./extra_bold//TTTravels-ExtraBold.ttf") format("truetype");
}
@font-face {
  font-family: "TT Travels";
  src: local("TT Travels Demi Bold"), local("TT-Travels-Demi-Bold"),
    url("./demibold/TTTravels-DemiBold.woff2") format("woff2"),
    url("./demibold/TTTravels-DemiBold.woff") format("woff"),
    url("./demibold/TTTravels-DemiBold.ttf") format("truetype");
}

.home__bg {
  position: relative;
  background: rgba(25, 29, 41, 1)
    url("../../../assets/Home_page/home_background.png");
  height: 1117px;
}
.home__brand-name {
  padding-top: 155px;
  line-height: 1.2;
}

.bold__italic {
  font-family: "TT Travels";
  font-weight: 700;
  font-style: italic;
}
.extra__bold {
  font-family: "TT Travels";
  font-weight: 800;
  font-style: normal;
}
.demi__bold {
  font-family: "TT Travels";
  font-weight: 600;
  font-style: normal;
  line-height: 1.2;
  color: rgba(20, 217, 229, 1);
}
.text__gradient {
  background: linear-gradient(
    to right,
    rgba(157, 254, 0, 1) 0%,
    rgba(20, 217, 229, 1) 100%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.play__btn {
  color: white;
  display: flex;
  align-items: center;
  gap: 10px;
  width: 203px;
  height: 58px;
  padding: 17px 25px;
  border-radius: 100px;
  line-height: 1.2;
  font-size: 20px;
  background: linear-gradient(
    to right,
    rgba(157, 254, 0, 1) 0%,
    rgba(20, 217, 229, 1) 100%
  );
}
.home__cast {
  padding: 0 100px;
}
.cast__text {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.view__btn {
  border: 1px solid rgba(157, 254, 0, 1);
  padding: 10px 24px;
  color: rgba(255, 255, 255, 1);
}
.spiral__bg {
  position: relative;
  background: rgba(25, 29, 41, 1)
    url("../../../assets/Home_page/home_spiral.png");
  height: 588px;
  background-repeat: no-repeat;
  background-position: right;
}
